@model PC_ShopHouse.ViewModels.ProductCreateViewModel
<div id="cpuFields">
    <h4>Thông số GPU</h4>
    <div class="form-group">
        <label asp-for="CPU.Socket"></label>
        <input asp-for="CPU.Socket" class="form-control cpu-input" />
    </div>
    <div class="form-group">
        <label asp-for="CPU.Cores"></label>
        <input asp-for="CPU.Cores" type="number" class="form-control cpu-input" />
    </div>
    <div class="form-group">
        <label asp-for="CPU.Threads"></label>
        <input asp-for="CPU.Threads" type="number" class="form-control cpu-input" />
        <span asp-validation-for="CPU.Threads" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CPU.BaseClock"></label>
        <input asp-for="CPU.BaseClock" class="form-control cpu-input" />
        <span asp-validation-for="CPU.BaseClock" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CPU.BoostClock"></label>
        <input asp-for="CPU.BoostClock" class="form-control cpu-input" />
        <span asp-validation-for="CPU.BoostClock" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CPU.TDP"></label>
        <input asp-for="CPU.TDP" class="form-control cpu-input" />
        <span asp-validation-for="CPU.TDP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CPU.Cache"></label>
        <input asp-for="CPU.Cache" type="number" class="form-control cpu-input" />
        <span asp-validation-for="CPU.Cache" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CPU.IntegratedGraphics"></label>
        <input asp-for="CPU.IntegratedGraphics" class="form-control cpu-input" />
        <span asp-validation-for="CPU.IntegratedGraphics" class="text-danger"></span>
    </div>
</div>