@model PC_ShopHouse.ViewModels.ProductCreateViewModel

<div id="mainboardFields">
    <h4>Chi tiết Mainboard</h4>
    <div class="form-group">
        <label asp-for="Mainboard.Chipset"></label>
        <input asp-for="Mainboard.Chipset" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mainboard.Socket"></label>
        <input asp-for="Mainboard.Socket" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mainboard.RAMType"></label>
        <input asp-for="Mainboard.RAMType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mainboard.MaxRAM"></label>
        <input asp-for="Mainboard.MaxRAM" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mainboard.RAMSlots"></label>
        <input asp-for="Mainboard.RAMSlots" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mainboard.M2Slots"></label>
        <input asp-for="Mainboard.M2Slots" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Mainboard.SATA_Ports"></label>
        <input asp-for="Mainboard.SATA_Ports" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mainboard.PCIESlots"></label>
        <input asp-for="Mainboard.PCIESlots" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Mainboard.FormFactor"></label>
        <input asp-for="Mainboard.FormFactor" class="form-control" />
    </div>
</div>